œimport "fonts/glyphicons-halflings-regular.svg"

html {
    height: 100%;
    min-height: 100%;
}

li {
    height: 50px;
}

span {
    color: #ff586d;
}

.icono_centro {
    margin-left: 30px;
}

.boton-color {
    background-color: #ff586d;
    border-color: #46b8da;
    color: white;
}

/*login full screen*/
